{% extends "Templates/default.twig" %}
{% import "Search/panel.twig" as searchPanel %}

{% block imageContainer %}
    {{ parent() }}
    <div class="external-profile-container">
        {% for userProfile in user.getRelation("profiles") %}
            <a class="external-profile-anchor" href="{{ userProfile.url }}" target="_blank" title="{{ user.getName() }} - {{ userProfile.profile.name }} profil">
                <span class="{{ userProfile.profile.icon_type }} {{ userProfile.profile.icon }} icon-sm icon-blue fs24"></span>
            </a>
        {% endfor %}
    </div>
{% endblock imageContainer %}

{% block asdf %}

<!-- bloc-11 -->
<div class="bloc tc-black bgc-anti-flash-white" id="bloc-11">
	<div class="container bloc-lg">
		<div class="row">
			<span class='error-label has-error general-error-label block mb10 text-center'>{{ error }}</span>
			<span class='error-label has-error general-error-label block mb10 text-center'>{{ session_error }}</span>
			
			{% if not error %}
					
			<div class="col-sm-12">
				<h1 class="mg-md text-center">
					{{ user.getName() }}
				</h1>								
				
				<input type="hidden" value="{{ user.getRatingPointsAvg() }}" id="initial-rating">
				<input type="hidden" value="{{ canRate }}" id="can-rate">

				<div class="panel">
					<div class="panel-heading">
						<h2 class="mg-clear tc-black">
							Szabadúszó profil
						</h2>
					</div>
					<div class="panel-body">
						<div class="col-sm-3 text-center img-container">
							<img src="{% if user.getProfilePicturePath() %}{{ ROOT }}uploads/picture/{{ user.getProfilePicturePath() }}{% else %}{{ ROOT }}media/img/szabaduszok-placeholder.png{% endif %}" class="img-rounded" alt="Szabaduszok.com - A magyar freelancer platform {{ user.getName() }}">
						</div>					
						
						<div class="col-sm-3 details-container">

								<div class="col-5 fs18">
									<span class="ion ion-location icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18">
									{% if user.getAddressCity() %}
										{{ user.getAddressCity() }}
									{% else %}
										Nincs adat
									{% endif %}
								</div>
																										
								<div class="col-5 fs18">
									<span class="ion ion-social-usd icon-sm project-dollar-sign icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18">
									{% if user.getMinNetHourlyWage() is not null %}
										{{ user.getMinNetHourlyWage()|number_format(0, '.', ' ') }} Ft /óra
									{% else %}
										Nincs adat
									{% endif %}									
								</div>
								
								<div class="col-5 fs18">
									<span class="ion ion-email icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18 profile-email-container">
									<a href="mailto:{{ user.getEmail() }}">E-mail küldése</a>
								</div>
								
								{% if user.webpage %}
								<div class="col-5 fs16 profile-webpage-icon-container">
									<span class="fa fa-chrome icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18 profile-webpage-container">
									<a href="{{ user.getWebpage() }}" target="_blank">Weboldal megtekintése</a>
								</div>
								{% endif %}
                                                                
								{% if user.cv_path %}
								<div class="col-5 fs18">
									<span class="ion ion-android-attach icon-sm icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18">																										
									<a href="{{ ROOT }}uploads/cv/{{ user.getCvPath() }}" download title="Szabaduszok.com - {{ user.getName() }}">Önéletrajz letöltése</a>
								</div>
								{% endif %}
																																
						</div>	
						
						<div class="col-sm-3 details-container">
							<div class="col-5 fs18">
								<span class="ion ion-briefcase icon-dark-gray project-details-profeesion-sign"></span>
							</div>
							<div class="col-95 fs18">
								{% for industry in user.getRelation("industries") %}
								<span id="{{ industry.industry_id }}" class="tag">{{ industry.name }}</span>
								{% else %}
								<span class="tag">Még nincs adat</span>
								{% endfor %}								
							</div>
							
							<div class="col-5 fs18">
								<span class="ion ion-university icon-dark-gray project-details-profeesion-sign"></span>
							</div>
							<div class="col-95 fs18">
								{% for profession in user.getRelation("professions") %}
								<span id="{{ profession.profession_id }}" class="tag">{{ profession.name }}</span>
								{% else %}
								<span class="tag">Még nincs adat</span>
								{% endfor %}									
							</div>
							
							<div class="col-5 fs18">
								<span class="ion ion-wrench icon-dark-gray project-details-profeesion-sign"></span>
							</div>
							<div class="col-95 fs18">
								{% for skill in user.getRelation("skills") %}
								<span id="{{ skill.skill_id }}" class="tag">{{ skill.name }}</span>
								{% else %}
								<span class="tag">Még nincs adat</span>
								{% endfor %}								
							</div>																
						</div>		
						
						<div class="col-sm-3 text-center rating-container">
							<h3>Értékelés</h3>
							<select id="rating">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							
							<p class="rating-avg">Átlag: <span id="rating-avg-point">{{ user.getRatingPointsAvg()|number_format(1, '.', ' ') }}</span></p>
							<p class="rating-avg">Értékelők száma: <span id="raters-count">{{ user.getRatersCount()|number_format(0, '.', ' ') }}</span></p>
							<p class="your-rating">Te értékelésed: <span id="your-rating-point">{{ myRating }}</span></p>
							
							{% if canRate %}
							<p class="rating-instruction">Kattints a csillagra, és nyomd meg az 'Értékel' gombot</p>
							
							<button class="btn btn-lg btn-block btn-lime-green rating" data-user_id="{{ user.getUserId() }}" id="rate">
								<span class="fa fa-star icon-spacer icon-white"></span>
								Értékel
							</button>
							{% endif %}														
						</div>						
						
						
						<div class="bottom-container">
							<h3 class="mg-md tc-black">
								Rövid bemutatkozás
							</h3>
							<p class="text-justify">
								{% if user.getShortDescription() %}
									{{ user.getShortDescription() }}
								{% else %}
									Nem adott meg bemutatkozást
								{% endif %}						
							</p>
							
							<p class="text-left text-right project-share-date">
								Utolsó belépés: {{ user.getLastLoginFormatted() }}
							</p>
							
							{% if canEdit %}
							<div class="text-center">
								<a href="{{ editUrl }}" class="btn btn-lg btn-block btn-ultramarine-blue"><span class="ion ion-edit icon-spacer icon-white"></span>Szerkeszt</a>
							</div>
							{% endif %}
						</div>												
					</div>
				</div>
				
				{% if canSeeProjectNotification %}
                <form id="project-notification-form" method="POST" action="{{ ROOT }}user/ajax/saveProjectNotification">
                    <input type="hidden" name="user_id" value="{{ user.user_id }}">
				    {{ searchPanel.build(container) }}
                </form>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
<!-- bloc-11 END -->

{% endblock asdf %}
