<div class="row">
	<div class="col-sm-12 list">
		<div class="row">
			<div class="col-sm-12 list">
				<div class="row">
					<div class="col-sm-12 list">
					
					{% for project in projects %}
					<a href="{{ ROOT }}szabaduszo-projekt/{{ project.slug }}" class="anchor-no-effect project-list-anchor">
						<div class="row project-row bgc-white">
							<div class="col-sm-2 project-img mobile-hide">
								<img src="{{ ROOT }}media/img/szabaduszo-projekt.png" class="img-responsive project-image center-block hidden-xs" alt="Szabadúszó projekt, munka {{ project.name }}">
								<h4 class="mg-md text-center hidden-xs project-owner-name">
									{% if users[project.project_id].is_company %}
										{{ users[project.project_id].company_name }}
									{% else %}
										{{ users[project.project_id].name() }}
									{% endif %}
								</h4>
							</div>
							<div class="col-sm-10 list-details">
								<span class="ion ion-folder pull-left icon-sm project-sign icon-lapis-lazuli"></span>
								<h3 class="mg-sm project-title-header text-justify tc-lapis-lazuli project-title-list">
									{{ project.name() }}
								</h3>
								<div class="divider-h project-title-divider">
									<span class="divider"></span>
								</div>
								
								<span class="ion ion-university pull-left icon-sm project-profession-sign icon-dark-gray"></span>
								{% for profession in relations[project.project_id]['professions'] %}
								<span id="{{ profession.profession_id }}" class="tag profession-list">{{ profession.name }}</span>
								{% endfor %}		
							
								
								<h4 class="mg-md db cb pt10 project-salary">
									<span class="ion ion-social-usd pull-left icon-sm project-dollar-sign icon-dark-gray"></span>
									<span class="strong ml5">{{ salaries[project.project_id]['salary'] }}</span> {{ salaries[project.project_id]['postfix'] }} 
								</h4>
								
								<p class="text-justify project-short-description cb">
									{{ project.short_description() }}
								</p>
								
								
								<p class="text-left text-right project-share-date">
									Megosztva: {{ project.created_at|date('Y-m-d') }}
								</p>
								
								<span class="ion ion-wrench pull-left icon-sm project-skill-sign project-list-skill-sign icon-dark-gray"></span>
								{% for skill in relations[project.project_id]['skills'] %}
								<span id="{{ skill.skill_id }}" class="tag skill-list">{{ skill.name }}</span>
								{% endfor %}	
							</div>
						</div>
					</a>
					{% else %}
					<p class="text-center">Sajnos nincsenek projektek</p>
					{% endfor %}
																																			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>