{% if needPager %}
<div class="row">
	<nav class="col-sm-12 text-center" id="pager">					
		  <ul class="pagination">
		    <li>
		      <a href="{{ ROOT }}szabaduszo-projektek/{{ prevPage }}" aria-label="Előző">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    {% for page in pages %}
		    <li><a href="{{ ROOT }}szabaduszo-projektek/{{ page }}" {% if currentPage == page %}class="bold"{% endif %}>{{ page }}</a></li>
		    {% endfor %}
		    						    
		    <li>
		      <a href="{{ ROOT }}szabaduszo-projektek/{{ nextPage }}" aria-label="Következő">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>																	
	</nav>
</div>	
{% endif %}