<div class="panel">
    <div class="panel-body">
        <p>Cím megadása nem kötelező</p>
        <span class="ion ion-location pull-left icon-sm icon-dark-gray"></span>
        <div class="form-group">
            <label>
                Irányítószám
            </label>
            <input class="form-control" id="address-postal-code" name="address_postal_code" type="text" placeholder="Számlázási" value="{% if user.getAddressPostalCode() %}{{ user.getAddressPostalCode() }}{% else %}{{ post_session.address_postal_code }}{% endif %}">
        </div>

        <span class="ion ion-location pull-left icon-sm icon-dark-gray"></span>
        <div class="form-group">
            <label>
                Város
            </label>
            <input class="form-control" id="address-city" name="address_city" type="text" placeholder="Számlázási" value="{% if user.getAddressCity() %}{{ user.getAddressCity() }}{% else %}{{ post_session.address_city }}{% endif %}">
        </div>

        <span class="ion ion-location pull-left icon-sm icon-dark-gray"></span>
        <div class="form-group">
            <label>
                Utca és házszám
            </label>
            <input class="form-control" id="address-street" name="address_street" type="text" placeholder="Számlázási" value="{% if user.getAddressStreet() %}{{ user.getAddressStreet() }}{% else %}{{ post_session.address_street }}{% endif %}">
        </div>

        {{ buttons.nextButton() }} 
        {{ buttons.submitButton(needSteps) }}
        {{ buttons.prevButton() }}
    </div>
</div>
