{% extends "User/write.twig" %}

{% block personalProfile %}
    {% include "User/Write/company.twig" %}
    {{ parent() }}

    <span class="ion ion-android-phone-portrait pull-left icon-sm icon-dark-gray"></span>
    <div class="form-group">
        <label>
            Telefonszám*
        </label>
        <input class="form-control" id="phonenumber" name="phonenumber" type="tel" required data-rules='{"notEmpty": "true"}' value="{{ user.getPhonenumber() }}">
    </div>

    {% include "User/Write/address.twig" %}

{% endblock personalProfile %}

{% block adf %}

    <div class="bloc bgc-anti-flash-white l-bloc tc-black" id="bloc-8">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-12">
                    <form action="{{ formAction }}" method="post" enctype="multipart/form-data">

                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="mg-clear tc-black">
                                    Szakmai profil
                                </h3>
                            </div>

                            <div class="panel-body">
                                <span class="ion ion-clipboard icon-sm pull-left icon-dark-gray"></span>
                                <div class="form-group">
                                    <label>
                                        Rövid szakmai bemutatkozás
                                    </label>
                                    <textarea class="form-control" id="short-description" name="short_description" rows="4" cols="50" placeholder="Korábbi tapasztalataid, munkamódszerek stb">{{ user.short_description }}</textarea>
                                </div>
                            </div>
                            <!-- end panel-body szakmai profil -->

                        </div>
                        <!-- end panel szakmai profil -->

                        <span class="ion ion-locked pull-left icon-sm icon-dark-gray"></span>
                        <div class="form-group">
                            <label class="password-label">
                                Jelszó*
                            </label>
                            <input id="password" name="password" type="password" class="form-control"

                                    {% if hasPasswordRules %}
                                        required data-rules='{"notEmpty": "true", "longer": {"value": 6}, "sameAs": "#password-confirm"}'
                                    {% else %}
                                        data-rules='{"longer": {"value": 6}, "sameAs": "#password-confirm"}'
                                    {% endif %}
                            >
                        </div>
                        <p class="text-justify">
                            {{ passwordText }}
                        </p>

                        <span class="ion ion-locked pull-left icon-sm icon-dark-gray"></span>
                        <div class="form-group">
                            <label class="password-label">
                                Jelszó mégegyszer*
                            </label>
                            <input class="form-control" type="password" id="password-confirm" name="password_confirm" {% if hasPasswordRules %}required{% endif %}>
                        </div>

                        {% if hasPrivacyCheckbox %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="accept-conditions" required checked>Elfogadom az <a href="{{ ROOT }}szabaduszok-adatvedelem" target="_blank">Adatvédelmi nyilatkozatot</a> és a <a href="{{ ROOT }}szabaduszok-felhasznalasi-feltetelek" target="_blank">Felhasználási feltételeket</a>
                                </label>
                            </div>
                        {% endif %}

                        {% if hasCancel %}
                            <a href="{{ ROOT }}megbizo/{{ user.getSlug() }}" class="btn btn-d btn-lg btn-block btn-gray"><span class="ion ion-android-cancel icon-spacer icon-white"></span>Mégsem</a>
                        {% endif %}
                        <button class="bloc-button btn btn-lg btn-block btn-lime-green" type="submit">
                            <span class="ion ion-checkmark icon-spacer icon-white"></span>Rögzít
                        </button>
                    </form>
                </div>
                <!-- end col-sm-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end bloc-8 -->
{% endblock adf %}