{% extends "Templates/emailDefault.twig" %}

{% block content %}


<h1>Hello {{ user }}!</h1>

<p>{{ 'newPasswordEmailText'|i18n }}</p>

<table>
    <tr>
        <td>{{ 'newPasswordEmailEmail'|i18n }}</td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td>{{ 'newPasswordEmailPassword'|i18n }}</td>
        <td>{{ password }}</td>
    </tr>
</table>

<p>{{ 'newPasswordEmailThanks'|i18n }}</p>

{% endblock content %}