<div class="panel">
    <div class="panel-body">
        <span class="ion ion-location pull-left icon-sm icon-dark-gray"></span>
        <div class="form-group">
            <label>
                Irányítószám*
            </label>
            <input class="form-control" id="address-postal-code" name="address_postal_code" type="text" placeholder="Számlázási" required data-rules='{"notEmpty": "true", "number": "true"}' value="{% if user.getAddressPostalCode() %}{{ user.getAddressPostalCode() }}{% else %}{{ post_session.address_postal_code }}{% endif %}">
        </div>

        <span class="ion ion-location pull-left icon-sm icon-dark-gray"></span>
        <div class="form-group">
            <label>
                Város*
            </label>
            <input class="form-control" id="address-city" name="address_city" type="text" placeholder="Számlázási" required data-rules='{"notEmpty": "true"}' value="{% if user.getAddressCity() %}{{ user.getAddressCity() }}{% else %}{{ post_session.address_city }}{% endif %}">
        </div>

        <span class="ion ion-location pull-left icon-sm icon-dark-gray"></span>
        <div class="form-group">
            <label>
                Utca és házszám
            </label>
            <input class="form-control" id="address-street" name="address_street" type="text" placeholder="Számlázási" value="{% if user.getAddressStreet() %}{{ user.getAddressStreet() }}{% else %}{{ post_session.address_street }}{% endif %}">
        </div>

        <button class="btn btn-lg btn-block btn-primary next" type="button">
            Tovább <span class="fa fa-chevron-right icon-spacer icon-white fs15"></span>
        </button>
        <button class="btn btn-lg btn-block btn-gray prev" type="button">
            <span class="fa fa-chevron-left icon-spacer icon-white fs15"></span> Vissza 
        </button>
    </div>
</div>
