{% extends "Templates/default.twig" %}

{% block content %}

<div class="bloc bgc-anti-flash-white tc-black" id="bloc-15">
	<div class="container bloc-lg">
		<div class="row">
			<span class='error-label has-error general-error-label block mb10'>{{ error }}</span>
			
			{% if not error %}

            <input type="hidden" name="project_id" value="{{ project.getProjectId() }}">
            <input type="hidden" name="user_slug" value="{{ user.getSlug() }}">
            <input type="hidden" value="{{ user.getRatingPointsAvg() }}" id="initial-rating">
            <input type="hidden" value="{{ canRate }}" id="can-rate">

            <h1 class="mg-md text-center tc-black">
                {{ project.getName() }}
            </h1>
            {% embed "User/parts/_profilePanel.twig" %}
                {% block imageContainer %}
                    <a href="{{ ROOT }}megbizo/{{ user.getSlug() }}">
                        <img src="{% if user.getProfilePicturePath() %}{{ ROOT }}uploads/picture/{{ user.getProfilePicturePath() }}{% else %}{{ ROOT }}media/img/szabaduszok-placeholder.png{% endif %}" class="img-rounded" alt="Szabaduszok.com - A magyar freelancer platform {{ user.getName() }}">
                    </a>
                {% endblock imageContainer %}

                {% block detailsContainerContact %}
                    {% if user.getIsCompany() and user.getCompanyName() %}
                        <div class="col-5 fs18">
                            <span class="fa fa-building icon-sm icon-dark-gray"></span>
                        </div>
                        <div class="col-95 fs18 mt2">
                            {{ user.getCompanyName }}
                        </div>
                    {% endif %}

                    {{ parent() }}

                    <div class="col-5 fs18">
                        <span class="ion ion-android-phone-portrait icon-sm icon-dark-gray"></span>
                    </div>
                    <div class="col-95 fs18">
                        {{ user.getPhonenumber() }}
                    </div>

                    <div class="col-5 fs18">
                        <span class="ion ion-email icon-dark-gray"></span>
                    </div>
                    <div class="col-95 fs18 profile-email-container">
                        <a href="mailto:{{ user.getEmail() }}">E-mail küldése</a>
                    </div>

                {% endblock detailsContainerContact %}
                {% block descriptionContainer %}
                {% endblock descriptionContainer %}
            {% endembed %}

            {% include "Project/Profile/parts/_profile.twig" %}

            <ul class="nav nav-tabs mb10">
                <li class="w50" data-content="candidates"><span class="ion ion-person-add icon-dark-gray hidden-xs"></span>Jelentkezők</li>
                <li class="w50" data-content="participants"><span class="ion ion-person-stalker icon-dark-gray hidden-xs"></span>Résztvevők</li>
            </ul>

            <div class="tab-content">
                <div id="candidates" class="tab-pane fade in active">
                {% include "Project/Profile/parts/_candidates.twig" %}
                </div>

                <div id="participants" class="tab-pane fade">
                {% include "Project/Profile/parts/_participants.twig" %}
                </div>
            </div>


			


            {% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}
