{% extends "Templates/default.twig" %}

{% block content %}

<div class="bloc bgc-anti-flash-white tc-black" id="bloc-15">
	<div class="container bloc-lg">
		<div class="row">
			<span class='error-label has-error general-error-label block mb10'>{{ error }}</span>
			
			{% if not error %}
		
			<input type="hidden" name="project_id" value="{{ project.project_id }}">
			<input type="hidden" name="user_slug" value="{{ user.slug }}">
			<input type="hidden" value="{{ user.rating_points_avg }}" id="initial-rating">
			<input type="hidden" value="{{ canRate }}" id="can-rate">
			
			<div class="col-sm-12">
				<h1 class="mg-md text-center tc-black">
					{{ project.name }}
				</h1>
				<div class="panel">
					<div class="panel-heading">
						<h2 class="mg-clear tc-black">
							Megbízó: {{ user.name() }}
						</h2>
					</div>
					<div class="panel-body">
					
						<div class="col-sm-3 text-center img-container">
							<a href="{{ ROOT }}megbizo/{{ user.slug }}">
							<img src="{% if user.profile_picture_path %}{{ ROOT }}uploads/picture/{{ user.profile_picture_path }}{% else %}{{ ROOT }}media/img/szabaduszok-placeholder.png{% endif %}" class="img-rounded" alt="Szabaduszok.com - A magyar freelancer platform {{ user.name() }}">
							</a>																					
						</div>					
						
						<div class="col-sm-3 details-container">

								{% if user.is_company %}
								<div class="col-5 fs18">
									<span class="fa fa-building icon-sm icon-dark-gray mr1"></span>
								</div>
								<div class="col-95 fs18">							
									{{ user.company_name }}							
								</div>
								{% endif %}

								<div class="col-5 fs18">
									<span class="ion ion-location icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18">
									{{ user.address_city }}
								</div>
										
								<div class="col-5 fs18">
									<span class="ion ion-email icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18">
									<a href="mailto:{{ user.email }}" target="_top">{{ user.email }}</a>
								</div>
								
								<div class="col-5 fs18">
									<span class="ion ion-android-phone-portrait icon-sm icon-dark-gray">
								</div>
								<div class="col-95 fs18">
									{{ user.phonenumber }}
								</div>																																																					
						</div>	
						
						<div class="col-sm-3 details-container">
							<div class="col-5 fs18">
								<span class="ion ion-briefcase icon-dark-gray project-details-profeesion-sign"></span>
							</div>
							<div class="col-95 fs18">
								{% for industry in user.industries.find_all() %}
								<span id="{{ industry.industry_id }}" class="tag tag-project">{{ industry.name }}</span>
								{% else %}
								<span class="tag">Még nincs adat</span>
								{% endfor %}								
							</div>
							
							<div class="col-5 fs18">
								<span class="ion ion-university icon-dark-gray project-details-profeesion-sign"></span>
							</div>
							<div class="col-95 fs18">
								{% for profession in user.professions.find_all() %}
								<span id="{{ profession.profession_id }}" class="tag tag-project">{{ profession.name }}</span>
								{% else %}
								<span class="tag">Még nincs adat</span>
								{% endfor %}								
							</div>																																		
						</div>		
						
						<div class="col-sm-3 text-center rating-container">
							<h3>Értékelés</h3>
							<select id="rating">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							
							<p class="rating-avg">Átlag: <span id="rating-avg-point">{{ user.rating_points_avg|number_format(1, '.', ' ') }}</span></p>
							<p class="rating-avg">Értékelők száma: <span id="raters-count">{{ user.raters_count|number_format(0, '.', ' ') }}</span></p>
							<p class="your-rating">Te értékelésed: <span id="your-rating-point">{{ myRating }}</span></p>
							
							{% if canRate %}
							<p class="rating-instruction">Kattints a csillagra, és nyomd meg az 'Értékel' gombot</p>
							
							<button class="btn btn-lg btn-block btn-lime-green rating" data-user_id="{{ user.user_id }}" id="rate">
								<span class="fa fa-star icon-spacer icon-white"></span>
								Értékel
							</button>
							{% endif %}		
						</div>															
						
						<div class="bottom-container">
							<h3 class="mg-md tc-black">
							Rövid bemutatkozás
							</h3>
							
							<p class="text-justify">
								{% if user.short_description %}
									{{ user.short_description }}
								{% else %}
									Nem adott meg bemutatkozást
								{% endif %}	
							</p>											
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h2 class="mg-clear tc-black">
							Projekt profil
						</h2>
					</div>
					<div class="panel-body">
						<div class="col-sm-5">
							<div class="col-5">
								<span class="ion ion-briefcase icon-sm project-details-profeesion-sign icon-dark-gray"></span>
							</div>
							<div class="col-95 project-profession">
								{% for industry in industries %}
								<span id="{{ industry.industry_id }}" class="tag">{{ industry.name }}</span>
								{% else %}
								<span class="tag">Nincs adat</span>
								{% endfor %}	
							</div>				
						
							<div class="col-5">
								<span class="ion ion-university icon-sm project-details-profeesion-sign icon-dark-gray"></span>
							</div>
							<div class="col-95 project-profession">
								{% for profession in professions %}
								<span id="{{ profession.profession_id }}" class="tag">{{ profession.name }}</span>
								{% else %}
								<span class="tag">Nincs adat</span>
								{% endfor %}	
							</div>
							
							<div class="col-5 fs18 project-profession">
									<span class="ion ion-wrench icon-dark-gray project-details-profeesion-sign"></span>
								</div>
								<div class="col-95 fs18">
									{% for skill in skills %}
									<span id="{{ skill.skill_id }}" class="tag">{{ skill.name }}</span>
									{% else %}
									<span class="tag">Nincs adat</span>
									{% endfor %}								
								</div>						
							
							<div class="col-5">
								<span class="ion ion-social-usd icon-sm project-details-dollar-sign icon-dark-gray"></span>
							</div>
							<div class="col-95 project-details-pay-paragraph">
								<span class="bold">{{ salary.salary }}</span> {{ salary.postfix }}
							</div>
							
							<div class="col-5">
								<span class="ion ion-email icon-sm icon-dark-gray"></span>
							</div>
							<div class="col-95 fs18">
								<a href="mailto:{{ project.email }}" target="_top">{{ project.email }}</a>
							</div>
							
							<div class="col-5">
								<span class="ion ion-android-phone-portrait icon-sm icon-dark-gray"></span>
							</div>
							<div class="col-95 fs18">
								{{ project.phonenumber }}
							</div>
						
						</div>
					
						<div class="project-details-long-description text-justify col-sm-7">
							<p class="project-profile-short">
							{{ project.short_description }}
							</p>
							{% autoescape false %}
							{{ project.long_description }}
							{% endautoescape %}
						</div>
							
																				
						<p class="text-right project-share-date cb">
							Megosztva: {{ project.created_at|date("Y-m-d") }}
						</p>
						
						{% if canEdit %}
						<div class="text-center">
							<a href="{{ ROOT }}szabaduszo-projekt-szerkesztes/{{ project.slug }}" class="btn btn-block btn-lg btn-ultramarine-blue"><span class="ion ion-edit icon-spacer"></span>Szerkeszt</a>
						</div>		
						{% endif %}
						
						{% if canDelete %}
						<div class="text-center">
							<button class="btn btn-block btn-lg btn-ultramarine-blue btn-tomato" id="del" data-id="{{ project.project_id }}"><span class="ion ion-trash-b icon-white icon-spacer"></span>Töröl</button>
						</div>		
						{% endif %}
						<span class="loading text-center"></span>
					</div>
				</div>
				
				</div>
				
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}
