{% extends "Templates/default.twig" %}

{% block content %}
    <!-- Main container -->
<div class="page-container">
    
<!-- Bloc Group -->
<div class='bloc-group'>

<!-- bloc-26 -->
<div class="bloc bloc-tile-2 tc-black bgc-white " id="bloc-26">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-12">

                {% for conversation in conversations %}
                    <div class="row user-container {% if conversation.getId() == conversationUrl.getId() %}selected{% endif %}">
                    <div class="col-sm-1 text-center">                   
                        {% set isUnread = conversation.hasUnreadMessageBy() %}
                        {% if isUnread %}
                            <span class="ion icon-responsive ion-record icon-sm icon-ultramarine-blue unread-dot"></span>
                        {% endif %}
                    </div>
                    <div class="col-sm-3 text-center hidden-xs">
                        <span class="helper"></span>
                        <img src="{{ ROOT }}{{ conversation.getParticipantProfilePictures()[0] }}" class="img-circle center-block" data-placement="top" data-toggle="tooltip" title="{{ conversation.getParticipantNames() }}">
                    </div>
                    <div class="col-sm-6">
                        <h3 class="mg-sm message-user-header tc-black hidden-xs">
                            {{ conversation.getParticipantNames() }}
                        </h3>
                        <h3 class="mg-sm message-user-header tc-black visible-xs {% if isUnread %}unread{% endif %}">
                            {{ conversation.getParticipantNames('lastName') }}            
                        </h3>
                        <p class="message-preview hidden-xs">
                            {% set lastMessage = conversation.getLastMessageBy() %}
                            {{ lastMessage.getMessage()|slice(0, 100) }}
                            
                        </p>          
                        <p class="message-preview visible-xs">
                            {{ lastMessage.getMessage()|slice(0, 44) }}
                        </p>                              
                    </div>            
                    <div class="col-sm-2 text-center message-time hidden-xs">
                        {{ textify_day(lastMessage.getCreatedAt().format('Y-m-d'))|i18n }}
                    </div>
                </div>    
                {% else %}
                    <div class="text-center">Még nincsenenk beszélgetések</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- bloc-26 END -->

<!-- bloc-27 -->
<div class="bloc bloc-tile-2 bgc-white l-bloc" id="bloc-27">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-12">

                {% if conversationUrl.getId() %}
                    {% for date, messagesByConversation in messages %}
                        <div class="message-day text-center">
                            {{ date }}
                        </div>      

                        {% for message in messagesByConversation %}                    
                            <p class="bubble time {{ message.getType() }}">{{ message.getCreatedAt()|date('H:i') }}</p>                                    
                            <p class="triangle-obtuse top bubble {{ message.getColor() }} {{ message.getType() }}">{{ message.getMessage() }}</p>
                        {% endfor %}
                    {% endfor %}

                    <form id="form_39619" novalidate>
                        <div class="form-group message-text-container" style="margin-top: 30px;">
                            <textarea autofocus id="message-text" class="form-control" rows="4" cols="50" placeholder="Ide írd az üzenetet..." id="textarea_1946"></textarea>
                            <a href="#" id="send" class="btn btn-lg btn-block btn-ultramarine-blue btn-sq">Küldés</a>
                        </div>                
                    </form>
                {% else %}  
                    Nincs kijelölt beszélgetés
                {% endif %}
                    {#{% for conversationId, messagesByConversation in messages %}   
                        {% for date, messagesByDate in messagesByConversation %}
                            <div class="message-day text-center">
                                {{ date|i18n }}
                            </div>      

                            {% for message in messagesByDate %}
                                <p class="bubble time {{ message.getType() }}">{{ message.getCreatedAt()|date('H:i') }}</p>                                    
                                <p class="triangle-obtuse top bubble {{ message.getColor() }} {{ message.getType() }}">{{ message.getMessage() }}</p>
                            {% endfor %}  
                        {% endfor %}
                    {% endfor %}#}
                    
                    {#<div class="message-day text-center">
                        December 4, hétfő                  
                    </div>

                    <p class="bubble time outgoing">10:12</p>
                    <p class="triangle-obtuse top blue bubble outgoing">Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú. Elküldött üzenet, nagyon hosszú.</p>
                      
                    <p class="bubble time incoming">14:26</p>
                    <p class="triangle-obtuse top gray bubble incoming">Fogadott üzenet</p>
                    
                    <div class="message-day text-center">
                        Tegnap                                
                    </div>            
                                     
                    <p class="bubble time outgoing">08:33</p>
                    <p class="triangle-obtuse top blue bubble outgoing">Elküldött üzenet</p>
                      
                    <p class="bubble time incoming">09:17</p>
                    <p class="triangle-obtuse top gray bubble incoming">Fogadott üzenet</p>

                    <div class="message-day text-center">
                        Ma
                    </div>            

                    <p class="bubble time outgoing">16:49</p>
                    <p class="triangle-obtuse top blue bubble outgoing">Elküldött üzenet</p>
                      
                    <p class="bubble time incoming">17:55</p>
                    <p class="triangle-obtuse top gray bubble incoming">Fogadott üzenet</p>#}
            </div>
        </div>
    </div>
</div>
<!-- bloc-27 END -->
</div>
<!-- Bloc Group END -->
</div>
{% endblock content %}