{% extends "Templates/default.twig" %}

{% block content %}
    <!-- Main container -->
<div class="page-container">
    
<!-- Bloc Group -->
<div class='bloc-group'>

<!-- bloc-26 -->
<div class="bloc bloc-tile-2 tc-black bgc-white " id="bloc-26">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-12">

                {% for conversation in conversations %}
                {% set isUnread = conversation.hasUnreadMessageBy() %}
                <div data-id="{{ conversation.getId() }}" class="row user-container conversation {% if conversation.getId() == conversationUrl.getId() %}selected{% endif %} {% if isUnread %}unread{% endif %}">
                    <div class="col-sm-1 text-center">                   
                        
                        {% if isUnread %}
                            <span class="ion icon-responsive ion-record icon-sm icon-ultramarine-blue unread-dot unread"></span>
                        {% endif %}
                    </div>
                    <div class="col-sm-3 text-center hidden-xs">
                        <span class="helper"></span>
                        <img src="{{ ROOT }}{{ conversation.getParticipantProfilePictures()[0] }}" class="img-circle center-block" data-placement="top" data-toggle="tooltip" title="{{ conversation.getParticipantNames() }}">
                    </div>
                    <div class="col-sm-6">
                        <h3 class="mg-sm message-user-header tc-black hidden-xs">
                            {{ conversation.getParticipantNames() }}
                        </h3>
                        <h3 class="mg-sm message-user-header tc-black visible-xs {% if isUnread %}unread{% endif %}">
                            {{ conversation.getParticipantNames('lastName') }}            
                        </h3>
                        <p class="message-preview hidden-xs">
                            {% set lastMessage = conversation.getLastMessageBy() %}
                            {{ lastMessage.getMessage()|slice(0, 100) }}
                            
                        </p>          
                        <p class="message-preview visible-xs">
                            {{ lastMessage.getMessage()|slice(0, 44) }}
                        </p>                              
                    </div>            
                    <div class="col-sm-2 text-center message-time hidden-xs">
                        {{ lastMessage.getCreatedatForView() }}
                    </div>
                </div>    
                {% else %}
                    <div class="text-center">Még nincsenenk beszélgetések</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- bloc-26 END -->

<!-- bloc-27 -->
<div class="bloc bloc-tile-2 bgc-white l-bloc" id="bloc-27">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-12 messages-container">

                {% if conversationUrl.getId() %}
                    {% for date, messagesByConversation in messages %}
                        <div class="message-day text-center">
                            {{ date|i18n }}
                        </div>      

                        {% for message in messagesByConversation %}                    
                            <p class="bubble time {{ message.getType() }}">{{ message.getCreatedAt()|date('H:i') }}</p>                                    
                            <p class="triangle-obtuse top bubble {{ message.getColor() }} {{ message.getType() }}">{{ message.getMessage() }}</p>
                        {% endfor %}
                    {% endfor %}

                    <form id="message">
                        <div class="form-group message-text-container" style="margin-top: 30px;">
                            <textarea required autofocus id="message-text" class="form-control" rows="4" cols="50" placeholder="Ide írd az üzenetet..." id="textarea_1946"></textarea>
                            <a href="#" id="send" class="btn btn-lg btn-block btn-ultramarine-blue btn-sq">Küldés</a>
                        </div>                
                    </form>
                {% else %}  
                    Nincs kijelölt beszélgetés
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- bloc-27 END -->
</div>
<!-- Bloc Group END -->
</div>

<script id="messages-template" type="text/twig">
    {% verbatim %}
    {% for date, messages in data %}
        <div class="message-day text-center">
            {{ date }}
        </div>      

        {% for message in messages %}
            <p class="bubble time {{ message.type }}">{{ message.created_at|date('H:i') }}</p>                                    
            <p class="triangle-obtuse top bubble {{ message.color }} {{ message.type }}">{{ message.message }}</p>
        {% endfor %}
    {% endfor %}

    <form id="message" novalidate>
        <div class="form-group message-text-container" style="margin-top: 30px;">
            <textarea autofocus id="message-text" class="form-control" rows="4" cols="50" placeholder="Ide írd az üzenetet..." id="textarea_1946"></textarea>
            <a href="#" id="send" class="btn btn-lg btn-block btn-ultramarine-blue btn-sq">Küldés</a>
        </div>                
    </form>
    {% endverbatim %}
</script>

<script id="outgoing-message-template" type="text/twig">
    {% verbatim %}
        <p class="bubble time outgoing">{{ 'now'|date('H:i') }}</p>                                    
        <p class="triangle-obtuse top bubble blue outgoing">{{ message }}</p>
    {% endverbatim %}
</script>

{% endblock content %}