<span class="ion ion-person pull-left icon-sm icon-dark-gray"></span>
<div class="form-group">
    <label>
        Vezetéknév*
    </label>
    <input class="form-control" id="lastname" name="lastname" type="text" autofocus value="{% if user.getLastname() %}{{ user.getLastname() }}{% else %}{{ post_session.lastname }}{% endif %}">
</div>

<span class="ion ion-person pull-left icon-sm icon-dark-gray"></span>
<div class="form-group">
    <label>
        Keresztnév*
    </label>
    <input class="form-control" id="firstname" name="firstname" type="text" required data-rules='{"notEmpty": "true"}' value="{% if user.getFirstname() %}{{ user.getFirstname() }}{% else %}{{ post_session.firstname }}{% endif %}">
</div>

<span class="ion ion-email pull-left icon-sm icon-dark-gray"></span>
<div class="form-group">
    <label>
        E-mail*
    </label>
    <input class="form-control" id="email" name="email" type="email" required data-rules='{"notEmpty": "true", "email": "true"}' value="
    {% if post_session.email %}
        {{ post_session.email }}
    {% else %}
        {% if user.getEmail() %}
            {{ user.getEmail() }}
        {% else %}
            {{ email }}
        {% endif %}
    {% endif %}"
    {% if user.getUserId() %}readonly{% endif %}>
</div>