<div class="panel">
	<div class="panel-body">
		<p>Itt megadhatod más oldalakon szereplő profiljaid URL -jét, amit a felhasználók meg tudnak tekinteni.</p>

		{% for profile in profiles %}

			<div class="form-group">
				{% if profile.icon_type_group == 'span' %}
					<span class="{{ profile.icon_type }} {{ profile.icon }} pull-left icon-sm icon-dark-gray"></span>									
				{% else %}
				{% endif %}
				<label>
					{{ profile.name }}
				</label>								

				<input type="text" name="profiles[]" id="{{ profile.profile_id }}" value="{% if in_array(profile.profile_id, userProfileUrls|keys) %}{{ userProfileUrls[profile.profile_id] }}{% endif %}" class="form-control" placeholder="{{ profile.name }}" data-rules='{"url": "true", "profile": "{{ profile.base_url }}"}'>																																							
			</div>
		{% endfor %}
                <button class="btn btn-lg btn-block btn-primary next" type="button">
                    Tovább <span class="fa fa-chevron-right icon-spacer icon-white fs15"></span>
                </button>
                <button class="btn btn-lg btn-block btn-gray prev" type="button">
                    <span class="fa fa-chevron-left icon-spacer icon-white fs15"></span> Vissza 
                </button>
	</div>
</div>
