{% extends "User/write.twig" %}

{% block professionalProfile %}
    {{ parent() }}
    <span class="ion ion-wrench pull-left icon-sm icon-dark-gray"></span>
    <div class="form-group">
        <label>
            Képességek*
        </label>

        <select id="skills" class="form-control" name="skills[]" multiple="multiple" data-rules='{"notEmptySelect": "true"}'>
            {% for skill in user.getRelation('skills') %}
                <option value="{{ skill.skill_id }}" selected>{{ skill.name }}</option>
            {% endfor %}
        </select>
    </div>
    <p class="text-justify">
        Szakterületen belüli konkrét képességek, pl.: php. Többet is megadhatsz. Választhatsz meglévőket, vagy hozhatsz létre újakat. Kérlek próbáld meg minél pontosabban megadni, a mennyiség korlátlan.
    </p>
{% endblock professionalProfile %}

{% block adf %}

    <div class="bloc bgc-anti-flash-white l-bloc tc-black" id="bloc-8">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-12">
                    <form action="{{ formAction }}" method="post" enctype="multipart/form-data">

                        {% if hasIdInput %}
                            <input name="user_id" id="user-id" type="hidden" value="{{ user.getUserId() }}">
                        {% endif %}

                        <input name="landing_page_name" type="hidden" value="{{ landingPageName }}">

                        <h1 class="mg-md text-center tc-black">
                            {{ pageTitle }} {{ user.getName() }}
                        </h1>

                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="mg-clear tc-black">
                                    Szakmai profil
                                </h3>
                            </div>

                            <div class="panel-body">
                                <span class="fa fa-chrome pull-left icon-sm icon-dark-gray"></span>
                                <div class="form-group">
                                    <label>
                                        Weboldal
                                    </label>
                                    <input class="form-control" id="webpage" name="webpage" type="text" data-rules='{"url": "true"}' value="{{ user.getWebpage() }}">
                                </div>

                                <span class="ion ion-social-usd pull-left icon-sm project-dollar-sign icon-dark-gray"></span>
                                <div class="form-group">
                                    <label>
                                        Minimum nettó órabér*
                                    </label>
                                    <input type="text" id="min-net-hourly-wage" name="min_net_hourly_wage" class="form-control" data-rules='{"notEmpty": "true", "number": "true"}' value="{{ user.getMinNetHourlyWage() }}">
                                </div>

                                <span class="ion ion-android-attach pull-left icon-sm icon-dark-gray"></span>
                                <div class="form-group">
                                    <label>
                                        Önéletrajz feltöltése
                                    </label>
                                    {% if hasCv %}
                                        <p>Feltöltött file formátuma: <span class="bold">.{{ cvExt }}</span>. Csak akkor válassz újat, ha módosítani akarod.</p>
                                    {% else %}
                                        {% if user.getUserId() %}
                                            <p>Még nem töltöttél fel önéletrajzot.</p>
                                        {% endif %}
                                    {% endif %}
                                    <input type="file" name="cv" class="form-control" accept=".pdf,.doc,.docx,.pages,.odt,.wps,.wpd,.rtf,.docm" id="cv">
                                </div>
                                <p class="text-justify">
                                    Elfogadott formátumok: .pdf, .doc, .docx, .pages, .odt, .wps, .wpd, .rtf, .docm
                                </p>

                                <span class="ion ion-clipboard pull-left icon-sm icon-dark-gray"></span>
                                <div class="form-group">
                                    <label>
                                        Rövid szakmai bemutatkozás
                                    </label>
                                    <textarea class="form-control" id="short-description" name="short_description" rows="4" cols="50" placeholder="Korábbi tapasztalataid, miben mennyire vagy jártas, stb">{{ user.getShortDescription() }}</textarea>
                                </div>
                            </div>
                            <!-- end panel-body szakmai profil -->

                        </div>
                        <!-- end panel szakmai profil -->

                        {% include "User/parts/_profiles.twig" %}

                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="mg-clear tc-black">
                                    Cím
                                </h3>
                            </div>

                            <div class="panel-body">
                                <p>Az adatok kitöltése tesmészetesen nem kötelező, de a várost érdemes megadni.</p>
                                <span class="ion ion-location pull-left icon-dark-gray icon-sm"></span>
                                <div class="form-group">
                                    <label>
                                        Irányítószám
                                    </label>
                                    <input class="form-control" id="address-postal-code" name="address_postal_code" type="text" placeholder="Számlázási" data-rules='{"number": "true"}' value="{{ user.getAddressPostalCode() }}">
                                </div>

                                <span class="ion ion-location pull-left icon-sm icon-dark-gray"></span>
                                <div class="form-group">
                                    <label>
                                        Város
                                    </label>
                                    <input class="form-control" id="address-city" name="address_city" type="text" placeholder="Számlázási" value="{{ user.getAddressCity() }}">
                                </div>

                                <span class="ion ion-location pull-left icon-dark-gray icon-sm"></span>
                                <div class="form-group">
                                    <label>
                                        Utca és házszám
                                    </label>
                                    <input class="form-control" id="address-street" name="address_street" type="text" placeholder="Számlázási" value="{{ user.getAddressStreet() }}">
                                </div>
                            </div>
                        </div>

                        <span class="ion ion-locked pull-left icon-sm icon-dark-gray"></span>
                        <div class="form-group">
                            <label class="password-label">
                                Jelszó*
                            </label>
                            <input id="password" name="password" type="password" class="form-control"

                                    {% if hasPasswordRules %}
                                        required data-rules='{"notEmpty": "true", "longer": {"value": 6}, "sameAs": "#password-confirm"}'
                                    {% else %}
                                        data-rules='{"longer": {"value": 6}, "sameAs": "#password-confirm"}'
                                    {% endif %}
                            >

                        </div>
                        <p class="text-justify">
                            {{ passwordText }}
                        </p>

                        <span class="ion ion-locked pull-left icon-sm icon-dark-gray"></span>
                        <div class="form-group">
                            <label class="password-label">
                                Jelszó mégegyszer*
                            </label>
                            <input class="form-control" type="password" id="password-confirm" name="password_confirm" {% if hasPasswordRules %}required{% endif %}>
                        </div>

                        {% if hasPrivacyCheckbox %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="accept-conditions" required checked>Elfogadom az <a href="{{ ROOT }}szabaduszok-adatvedelem" target="_blank" title="Szabaduszok.com - Adatvédelem">Adatvédelmi nyilatkozatot</a> és a <a href="{{ ROOT }}szabaduszok-felhasznalasi-feltetelek" target="_blank" title="Szabaduszok.com - Felhasználási feltételek">Felhasználási feltételeket</a>
                                </label>
                            </div>
                        {% endif %}

                        {% if hasCancel %}
                            <a href="{{ ROOT }}szabaduszo/{{ user.getSlug() }}" class="btn btn-d btn-lg btn-block btn-gray"><span class="ion ion-android-cancel icon-spacer icon-white"></span>Mégsem</a>
                        {% endif %}
                        <button class="bloc-button btn btn-lg btn-block btn-lime-green" type="submit">
                            <span class="ion ion-checkmark icon-spacer icon-white"></span>Rögzít
                        </button>
                    </form>
                </div>
                <!-- end col-sm-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end bloc-8 -->
{% endblock adf %}