{% extends "User/write.twig" %}

{% block professionHint %}
    {{ parent() }}
    <p class="text-justify">
        <span class="bold">FIGYELEM!</span> Érdemes szem előtt tartani a kereshetőséget, és a megbízók gondolkodását. Ide olyan általános dolgokat adj meg, amivel egy kevésbé hozzáértő is megtalál, pl.: rendszergazda, seo, online marketing. Ne adj meg konkrét technológiákat. Azok a képességeknél lesznek.
    </p>
{% endblock professionHint %}

{% block professionalProfileMisc %}
    {{ parent() }}

    <span class="ion ion-wrench pull-left icon-sm icon-dark-gray"></span>
    <div class="form-group">
        <label>
            Képességek*
        </label>
        <p class="text-justify">
            Szakterületen belüli konkrét képességek, pl.: php, linux, adwords. Légy minél pontosabb, itt is szem előtt tartva a kereshetőséget.
        </p>

        <select id="skills" name="skills[]" multiple="multiple" >
            {% for skill in user.getRelation('skills') %}
                <option value="{{ skill.skill_id }}" selected>{{ skill.name }}</option>
            {% else %}
                {% for skill in post_session.skills %}
                <option value="{{ skill }}" selected>
                    {% if skill matches '/^\\d+$/' %}                               
                        {{ AB.getSelect().from(skillModel).where('skill_id', '=', skill).execute().current().name }}
                    {% else %}
                        {{ skill }}
                    {% endif %}
                </option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>

    <span class="ion ion-android-calendar pull-left icon-sm project-dollar-sign icon-dark-gray"></span>
    <div class="form-group">
        <label>
            Szakmai tapasztalat években
        </label>
        <input type="text" id="professional_experience" name="professional_experience" class="form-control"  value="{% if user.getProfessionalExperience() %}{{ user.getProfessionalExperience() }}{% else %}{{post_session.professional_experience }}{% endif %}">
    </div>

    <span class="fa fa-chrome pull-left icon-sm icon-dark-gray"></span>
    <div class="form-group">
        <label>
            Weboldal
        </label>
        <input class="form-control" id="webpage" name="webpage" type="text"  value="{% if user.getWebpage() %}{{ user.getWebpage() }}{% else %}{{post_session.webpage }}{% endif %}">
    </div>

    <span class="ion ion-social-usd pull-left icon-sm project-dollar-sign icon-dark-gray"></span>
    <div class="form-group">
        <label>
            Minimum nettó órabér*
        </label>
        <input type="text" id="min-net-hourly-wage" name="min_net_hourly_wage" class="form-control"  value="{% if user.getMinNetHourlyWage() %}{{ user.getMinNetHourlyWage() }}{% else %}{{post_session.min_net_hourly_wage }}{% endif %}">
    </div>

    <span class="ion ion-android-attach pull-left icon-sm icon-dark-gray"></span>
    <div class="form-group">
        <label>
            Önéletrajz feltöltése
        </label>
        {% if hasCv %}
            <p>Feltöltött file formátuma: <span class="bold">.{{ cvExt }}</span>. Csak akkor válassz újat, ha módosítani akarod.</p>
        {% else %}
            {% if user.getUserId() %}
                <p>Még nem töltöttél fel önéletrajzot.</p>
            {% endif %}
        {% endif %}
        <input type="file" name="cv" class="form-control" accept=".pdf,.doc,.docx,.pages,.odt" id="cv">
    </div>
    <p class="text-justify">
        Elfogadott formátumok: .pdf, .doc, .docx, .pages, .odt
    </p>
{% endblock professionalProfileMisc %}

{% block externalProfiles %}
    {% include "User/Write/profiles.twig" %}
{% endblock externalProfiles %}

{% block address %}
    {% include "User/Write/Freelancer/address.twig" %}
{% endblock address %}
