{% extends "Templates/emailDefault.twig" %}

{% block content %}

<h1>Hello {{ user.freelancerName() }}!</h1>

<p>Van egy új projektünk számodra! A részleteket itt olvashatod:</p>

<h2>{{ project.name }}</h2>
<p>{{ project.short_description }}</p>

<p class="skills">Szükséges képességek:</p>
{% for skill in project.skills.find_all() %}
<span id="{{ skill.skill_id }}" class="tag">{{ skill.name }}</span>
{% endfor %}
<br><br>								

<p>Ha érdekel, kattints az alábbi gombra, és nézd meg a részleteket!</p>

<a class="cta text-center center" target="_blank" href="{{ root }}szabaduszo-projekt/{{ project.slug }}">Érdekel</a>

{% endblock content %}