{% extends "Templates/default.twig" %}

{% block content %}

<!-- bloc-11 -->
<div class="bloc tc-black bgc-anti-flash-white" id="bloc-11">
	<div class="container bloc-lg">
		<div class="row">
			<span class='error-label has-error general-error-label block mb10 text-center'>{{ error }}</span>
			<span class='error-label has-error general-error-label block mb10 text-center'>{{ session_error }}</span>
			
			{% if not error %}
					
			<div class="col-sm-12">
				<h1 class="mg-md text-center">
					{{ user.name() }}
				</h1>								
				
				<input type="hidden" value="{{ user.rating_points_avg }}" id="initial-rating">
				<input type="hidden" value="{{ canRate }}" id="can-rate">
				<div class="panel">
					<div class="panel-heading">
						<h2 class="mg-clear tc-black">
							Szabadúszó profil
						</h2>
					</div>
					<div class="panel-body">
						<div class="col-sm-3 text-center img-container">
							<img src="{% if user.profile_picture_path %}{{ ROOT }}uploads/picture/{{ user.profile_picture_path }}{% else %}{{ ROOT }}media/img/szabaduszok-placeholder.png{% endif %}" class="img-rounded" alt="Szabaduszok.com - A magyar freelancer platform {{ user.name() }}">
							
							<div class="external-profile-container">
								{% for userProfile in user.profiles.find_all() %}
									<a class="external-profile-anchor" href="{{ userProfile.url }}" target="_blank" title="{{ userProfile.profile.name }}">
										<span class="{{ userProfile.profile.icon_type }} {{ userProfile.profile.icon }} icon-sm icon-blue fs24"></span>
									</a>									
								{% endfor %}
							</div>								
						</div>					
						
						<div class="col-sm-3 details-container">

								<div class="col-5 fs18">
									<span class="ion ion-location icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18">
									{% if user.address_city %}
										{{ user.address_city }}
									{% else %}
										Nincs adat
									{% endif %}
								</div>
																										
								<div class="col-5 fs18">
									<span class="ion ion-social-usd icon-sm project-dollar-sign icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18">
									{% if user.min_net_hourly_wage is not null %}
										{{ user.min_net_hourly_wage|number_format(0, '.', ' ') }} Ft /óra
									{% else %}
										Nincs adat
									{% endif %}									
								</div>
								
                                                                <div class="col-5 fs18">
									<span class="ion ion-email icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18 profile-email-container">
                                                                    <a href="mailto:{{ user.email }}">E-mail küldése</a>
								</div>
                                                                
								{% if user.cv_path %}
								<div class="col-5 fs18">
									<span class="ion ion-android-attach icon-sm icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18">																										
									<a href="{{ ROOT }}uploads/cv/{{ user.cv_path }}" download title="Szabaduszok.com - {{ user.name() }}">Önéletrajz letöltése</a>									
								</div>
								{% endif %}
																																
						</div>	
						
						<div class="col-sm-3 details-container">
							<div class="col-5 fs18">
								<span class="ion ion-briefcase icon-dark-gray project-details-profeesion-sign"></span>
							</div>
							<div class="col-95 fs18">
								{% for industry in user.industries.find_all() %}
								<span id="{{ industry.industry_id }}" class="tag">{{ industry.name }}</span>
								{% else %}
								<span class="tag">Még nincs adat</span>
								{% endfor %}								
							</div>
							
							<div class="col-5 fs18">
								<span class="ion ion-university icon-dark-gray project-details-profeesion-sign"></span>
							</div>
							<div class="col-95 fs18">
								{% for profession in user.professions.find_all() %}
								<span id="{{ profession.profession_id }}" class="tag">{{ profession.name }}</span>
								{% else %}
								<span class="tag">Még nincs adat</span>
								{% endfor %}									
							</div>
							
							<div class="col-5 fs18">
								<span class="ion ion-wrench icon-dark-gray project-details-profeesion-sign"></span>
							</div>
							<div class="col-95 fs18">
								{% for skill in user.skills.find_all() %}
								<span id="{{ skill.skill_id }}" class="tag">{{ skill.name }}</span>
								{% else %}
								<span class="tag">Még nincs adat</span>
								{% endfor %}								
							</div>																
						</div>		
						
						<div class="col-sm-3 text-center rating-container">
							<h3>Értékelés</h3>
							<select id="rating">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							
							<p class="rating-avg">Átlag: <span id="rating-avg-point">{{ user.rating_points_avg|number_format(1, '.', ' ') }}</span></p>
							<p class="rating-avg">Értékelők száma: <span id="raters-count">{{ user.raters_count|number_format(0, '.', ' ') }}</span></p>
							<p class="your-rating">Te értékelésed: <span id="your-rating-point">{{ myRating }}</span></p>
							
							{% if canRate %}
							<p class="rating-instruction">Kattints a csillagra, és nyomd meg az 'Értékel' gombot</p>
							
							<button class="btn btn-lg btn-block btn-lime-green rating" data-user_id="{{ user.user_id }}" id="rate">
								<span class="fa fa-star icon-spacer icon-white"></span>
								Értékel
							</button>
							{% endif %}														
						</div>						
						
						
						<div class="bottom-container">
							<h3 class="mg-md tc-black">
								Rövid bemutatkozás
							</h3>
							<p class="text-justify">
								{% if user.short_description %}
									{{ user.short_description }}
								{% else %}
									Nem adott meg bemutatkozást
								{% endif %}						
							</p>
							
							<p class="text-left text-right project-share-date">
								Utolsó belépés: {{ user.last_login() }}
							</p>
							
							{% if canEdit %}
							<div class="text-center">
								<a href="{{ editUrl }}" class="btn btn-lg btn-block btn-ultramarine-blue"><span class="ion ion-edit icon-spacer icon-white"></span>Szerkeszt</a>
							</div>
							{% endif %}
						</div>												
					</div>
				</div>
				
				{% if canSeeProjectNotification %}
				<div class="panel">
					<div class="panel-heading">
						<h3 class="mg-clear tc-black">
							Projekt értesítő beállításai
						</h3>
					</div>
					<div class="panel-body">
						<p>Csak azokról a projektekről szeretnék értesítést kapni, amik...</p>
						<form id="project-notification-form" method="POST" action="{{ ROOT }}user/ajax/saveProjectNotification">
							<input type="hidden" name="user_id" value="{{ user.user_id }}">
							
							<span class="ion ion-briefcase pull-left icon-sm icon-dark-gray"></span>
							<p class="search-form-paragraph">
								Az alábbi <strong>iparágakba</strong> tartoznak:
							</p>													
							<div class="form-group">							
								<select class="form-control" name="industries[]" id="industries" data-rules='{"notEmptySelect": "true"}' multiple>
									{% for industry in industries %}
									<option value="{{ industry.id }}" {{ industry.selected }}>{{ industry.name }}</option>
									{% endfor %}									
								</select>
							</div>
						
							<span class="ion ion-university pull-left icon-sm icon-dark-gray"></span>
							<p class="search-form-paragraph">
								ÉS a következő <strong>szakterületeken</strong> futnak:
							</p>
							<div class="form-group">								
	 							<select id="professions" class="form-control" name="professions[]" multiple="multiple" data-rules='{"notEmptySelect": "true"}'>
									{% for profession in professions %}
									<option value="{{ profession.id }}" {{ profession.selected }}>{{ profession.name }}</option>
									{% endfor %}	
	 							</select>
							</div>
							
							<span class="ion ion-wrench pull-left icon-sm icon-dark-gray"></span>
							<p class="search-form-paragraph">
								ÉS az alábbi <strong>képességek</strong>:
							</p>
							
							<div class="form-group">								
	 							<select id="skills" class="form-control" name="skills[]" multiple="multiple" data-rules='{"notEmptySelect": "true"}'>
									{% for skill in skills %}
									<option value="{{ skill.id }}" {{ skill.selected }}>{{ skill.name }}</option>
									{% endfor %}
	 							</select>
							</div>
							
							<select class="form-control" name="skill_relation" id="skill-relation">
								<option value="1" {% if user.skill_relation == 1 %}selected{% endif %}>Bármelyikét (VAGY kapcsolat)</option>
								<option value="2" {% if user.skill_relation == 2 %}selected{% endif %}>Mindegyikét (ÉS kapcsolat)</option>
							</select>
							<p class="search-form-paragraph mb10">
								igénylik.
							</p>
							
							<button class="btn btn-lg btn-block btn-lime-green" id="save-project-notification">
								<span class="ion ion-checkmark icon-spacer icon-white"></span>
								Rögzít
							</button>
							
							<span class="loading text-center"></span>
						</form>
					</div>
				</div>	
				{% endif %}	
												
			</div>
			
			{% endif %}
			
		</div>
	</div>
</div>
<!-- bloc-11 END -->

{% endblock content %}
