{% extends "Templates/default.twig" %}

{% block content %}

<!-- bloc-11 -->
<div class="bloc tc-black bgc-anti-flash-white" id="bloc-11">
	<div class="container bloc-lg">
		<div class="row">
			<span class='error-label has-error general-error-label block mb10 text-center'>{{ error }}</span>
			<span class='error-label has-error general-error-label block mb10 text-center'>{{ session_error }}</span>
			
			{% if not error %}
					
			<div class="col-sm-12">
				<h1 class="mg-md text-center">
					{{ user.name() }}
				</h1>								
				
				<input type="hidden" value="{{ user.rating_points_avg }}" id="initial-rating">
				<input type="hidden" value="{{ canRate }}" id="can-rate">
				
				<div class="panel">
					<div class="panel-heading">
						<h2 class="mg-clear tc-black">
							Megbízó profil
						</h2>
					</div>
					<div class="panel-body">
						<div class="col-sm-3 text-center img-container">
							<img src="{% if user.profile_picture_path %}{{ ROOT }}uploads/picture/{{ user.profile_picture_path }}{% else %}{{ ROOT }}media/img/szabaduszok-placeholder.png{% endif %}" class="img-rounded" alt="Szabaduszok.com - A magyar freelancer platform {{ user.name() }}">							
						</div>					
						
						<div class="col-sm-3 details-container">

								{% if user.is_company and user.company_name %}
								<div class="col-5 fs18">
									<s<span class="fa fa-building icon-sm icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18 mt2">
									{{ user.company_name }}
								</div>
								{% endif %}
								
								<div class="col-5 fs18">
									<span class="ion ion-location icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18">
									{% if user.address_city %}
										{{ user.address_city }}
									{% else %}
										Még nincs adat
									{% endif %}
								</div>
										
								<div class="col-5 fs18">
									<span class="ion ion-email icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18">
									{{ user.email }}
								</div>	
								
								<div class="col-5 fs18">
									<span class="ion ion-android-phone-portrait icon-sm icon-dark-gray"></span>
								</div>
								<div class="col-95 fs18">
									{{ user.phonenumber }}
								</div>																																															
						</div>	
						
						<div class="col-sm-3 details-container">
							<div class="col-5 fs18">
								<span class="ion ion-briefcase icon-dark-gray project-details-profeesion-sign"></span>
							</div>
							<div class="col-95 fs18">
								{% for industry in user.industries.find_all() %}
								<span id="{{ industry.industry_id }}" class="tag">{{ industry.name }}</span>
								{% else %}
								<span class="tag">Még nincs adat</span>
								{% endfor %}							
							</div>
							
							<div class="col-5 fs18">
								<span class="ion ion-university icon-dark-gray project-details-profeesion-sign"></span>
							</div>
							<div class="col-95 fs18">
								{% for profession in user.professions.find_all() %}
								<span id="{{ profession.profession_id }}" class="tag">{{ profession.name }}</span>
								{% else %}
								<span class="tag">Még nincs adat</span>
								{% endfor %}							
							</div>															
						</div>		
						
						<div class="col-sm-3 text-center rating-container">
							<h3>Értékelés</h3>
							<select id="rating">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							
							<p class="rating-avg">Átlag: <span id="rating-avg-point">{{ user.rating_points_avg|number_format(1, '.', ' ') }}</span></p>
							<p class="rating-avg">Értékelők száma: <span id="raters-count">{{ user.raters_count|number_format(0, '.', ' ') }}</span></p>
							<p class="your-rating">Te értékelésed: <span id="your-rating-point">{{ myRating }}</span></p>
							
							{% if canRate %}
							<p class="rating-instruction">Kattints a csillagra, és nyomd meg az 'Értékel' gombot</p>
							
							<button class="btn btn-lg btn-block btn-lime-green rating" data-user_id="{{ user.user_id }}" id="rate">
								<span class="fa fa-star icon-spacer icon-white"></span>
								Értékel
							</button>
							{% endif %}
						</div>						
						
						
						<div class="bottom-container">
							<h3 class="mg-md tc-black">
								Rövid bemutatkozás
							</h3>
							<p class="text-justify">
								{% if user.short_description %}
									{{ user.short_description }}
								{% else %}
									Nem adott meg bemutatkozást
								{% endif %}						
							</p>
							
							{% if canEdit %}
							<div class="text-center">
								<a href="{{ editUrl }}" class="btn btn-lg btn-block btn-ultramarine-blue"><span class="ion ion-edit icon-spacer icon-white"></span>Szerkeszt</a>
							</div>
							{% endif %}
						</div>												
					</div>
				</div>														
			</div>	
			<h2 class="text-center">Projektjei</h2>
			<div class="col-sm-12 list">				
				{% include 'Project/parts/_list.twig' %}
			</div>			
			{% endif %}
			
		</div>
	</div>
</div>
<!-- bloc-11 END -->

{% endblock content %}
