{% extends "Templates/default.twig" %}

{% block content %}
    <div class="bloc bgc-anti-flash-white l-bloc tc-black" id="bloc-8">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-12">
                    <form action="{{ formAction }}" method="post" enctype="multipart/form-data">

                        {% block formHeader %}
                            {% if hasIdInput %}
                                <input name="user_id" id="user-id" type="hidden" value="{{ user.getUserId() }}">
                            {% endif %}

                            <input name="landing_page_name" type="hidden" value="{{ landingPageName }}">

                            <h1 class="mg-md text-center tc-black">
                                {{ pageTitle }} {{ user.getName() }}
                            </h1>
                        {% endblock formHeader %}

                        {% include 'errors/validation_errors.twig' %}

                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="mg-clear tc-black">
                                    Személyes profil
                                </h3>
                            </div>
                            <!-- end panel-heading -->

                            <div class="panel-body">
                                <span class='error-label has-error general-error-label block mb10 text-center'>{{ error }}</span>

                                {% block personalProfile %}
                                    {% include "User/Write/baseContact.twig" %}
                                {% endblock personalProfile %}

                                <span class="ion ion-image pull-left icon-dark-gray icon-sm"></span>
                                <div class="form-group">
                                    <label>
                                        Profilkép
                                    </label>
                                    <input class="form-control" id="profile-picture" name="profile_picture" type="file" accept="image/*">
                                    {% if hasPicture %}
                                        <img src="{{ ROOT }}uploads/picture/{{ user.getProfilePicturePath() }}" class="img-rounded mt10" alt="Szabaduszok.com - A magyar freelancer platform {{ user.getName() }}">
                                    {% endif %}
                                </div>

                            </div>
                            <!-- end panel-body -->
                        </div>
                        <!-- end panel szemelyes profil -->

                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="mg-clear tc-black">
                                    Szakmai profil
                                </h3>
                            </div>

                            <div class="panel-body">
                                {% block professionalProfile %}
                                    <span class="ion ion-briefcase pull-left icon-sm icon-dark-gray"></span>
                                    <div class="form-group">
                                        <label>
                                            Iparágak*
                                        </label>
                                        <select class="form-control" name="industries[]" id="industries" data-rules='{"notEmptySelect": "true"}' multiple>
                                            {% for industry in industries %}
                                                <option value="{{ industry.industry_id }}" {% if user.has('industries', industry) or industry.industry_id in post_session.industries %}selected{% endif %}>{{ industry.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <p class="text-justify">
                                        Általános iparág, pl.: informatika. Többet is választhatsz.
                                    </p>

                                    <span class="ion ion-university pull-left icon-sm icon-dark-gray"></span>
                                    <div class="form-group">
                                        <label>
                                            Szakterületek
                                        </label>

                                        <select id="professions" class="form-control" name="professions[]" multiple="multiple">
                                            {% for profession in user.getRelation('professions') %}
                                                <option value="{{ profession.profession_id }}" selected>{{ profession.name }}</option>                                        
                                            {% else %}
                                                {% for profession in post_session.professions %}
                                                <option value="{{ profession }}" selected>
                                                    {% if profession matches '/^\\d+$/' %}                                          
                                                        {{ AB.getSelect().from(professionModel).where('profession_id', '=', profession).execute().current().name }}
                                                    {% else %}
                                                        {{ profession }}
                                                    {% endif %}
                                                </option>
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <p class="text-justify">
                                        Iparágon belüli, szűkebb szakterület, pl.: webfejlesztés. Többet is megadhatsz. Választhatsz meglévőket, vagy hozhatsz létre újakat. Nem kötelező, de kérlek próbáld meg besorolni a tevékenységedet, a jobb keresés érdekében.
                                    </p>

                                    {% block professionalProfileMisc %}
                                    {% endblock professionalProfileMisc %}

                                    <span class="ion ion-clipboard pull-left icon-sm icon-dark-gray"></span>
                                    <div class="form-group">
                                        <label>
                                            Rövid szakmai bemutatkozás
                                        </label>
                                        <textarea class="form-control" id="short-description" name="short_description" rows="4" cols="50" placeholder="Korábbi tapasztalataid, miben mennyire vagy jártas, stb">{% if user.getShortDescription() %}{{ user.getShortDescription() }}{% else %}{{ post_session.short_description }}{% endif %}</textarea>
                                    </div>

                                {% endblock professionalProfile %}
                            </div>
                            <!-- end panel-body szakmai profil -->
                        </div>
                        <!-- end panel szakmai profil -->

                        {% block externalProfiles %}
                        {% endblock externalProfiles %}

                        {% block address %}
                        {% endblock address %}

                        {% block credentials %}
                            <span class="ion ion-locked pull-left icon-sm icon-dark-gray"></span>
                            <div class="form-group">
                                <label class="password-label">
                                    Jelszó*
                                </label>
                                <input id="password" name="password" type="password" class="form-control"

                                        {% if hasPasswordRules %}
                                            required data-rules='{"notEmpty": "true", "longer": {"value": 6}, "sameAs": "#password-confirm"}'
                                        {% else %}
                                            data-rules='{"longer": {"value": 6}, "sameAs": "#password-confirm"}'
                                        {% endif %}
                                >

                            </div>
                            <p class="text-justify">
                                {{ passwordText }}
                            </p>

                            <span class="ion ion-locked pull-left icon-sm icon-dark-gray"></span>
                            <div class="form-group">
                                <label class="password-label">
                                    Jelszó mégegyszer*
                                </label>
                                <input class="form-control" type="password" id="password-confirm" name="password_confirm" {% if hasPasswordRules %}required{% endif %}>
                            </div>

                            {% if hasPrivacyCheckbox %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="accept-conditions" required checked>Elfogadom az <a href="{{ ROOT }}szabaduszok-adatvedelem" target="_blank" title="Szabaduszok.com - Adatvédelem">Adatvédelmi nyilatkozatot</a> és a <a href="{{ ROOT }}szabaduszok-felhasznalasi-feltetelek" target="_blank" title="Szabaduszok.com - Felhasználási feltételek">Felhasználási feltételeket</a>
                                    </label>
                                </div>
                            {% endif %}
                        {% endblock credentials %}

                        {% block buttons %}
                            {% if hasCancel %}
                                <a href="{{ ROOT }}{{ user.getTypeSlug() }}/{{ user.getSlug() }}" class="btn btn-d btn-lg btn-block btn-gray"><span class="ion ion-android-cancel icon-spacer icon-white"></span>Mégsem</a>
                            {% endif %}
                            <button class="bloc-button btn btn-lg btn-block btn-lime-green" type="submit">
                                <span class="ion ion-checkmark icon-spacer icon-white"></span>Rögzít
                            </button>
                        {% endblock buttons %}
                    </form>
                </div>
                <!-- end col-sm-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end bloc-8 -->
{% endblock content %}