{% extends "Templates/default.twig" %}

{% block content %}
    <div class="bloc bgc-anti-flash-white l-bloc tc-black" id="bloc-8">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-12">
                    <form action="{{ formAction }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf-token" value="{{ token }}">
                        {% block formHeader %}
                            {% if hasIdInput %}
                                <input name="user_id" id="user-id" type="hidden" value="{{ user.getUserId() }}">
                            {% endif %}

                            <input name="landing_page_name" type="hidden" value="{% if landingPageName %}{{ landingPageName }}{% else %}{{ post_session.landing_page_name }}{% endif %}">

                            <h1 class="mg-md text-center tc-black">
                                {{ pageTitle }} {{ user.getName() }}
                            </h1>
                        {% endblock formHeader %}

                        {% include 'errors/validation_errors.twig' %}

                        <ul class="nav nav-tabs steps {% if userType == 1 %}steps-freelancer{% else %}steps-employer{% endif %}" data-current="personal-profile">
                            <li class="active" data-content="personal-profile">
                                {% if needSteps %}
                                    <strong>1. lépés</strong><br/>
                                    Személyes profil
                                {% else %}
                                    <span class="ion ion-person pull-left icon-lg icon-dark-gray"></span>
                                    <div style="margin-top: 7px;">Személyes profil</div>
                                {% endif %}
                            </li>
                            <li data-content="professional-profile">
                                {% if needSteps %}
                                    <strong>2. lépés</strong><br/>
                                    Szakmai profil
                                {% else %}
                                    <span class="ion ion-university pull-left icon-lg icon-dark-gray"></span>
                                    <div style="margin-top: 7px;">Szakmai profil</div>
                                {% endif %}
                            </li>

                            {% if userType == 1 %}
                            <li data-content="external-profiles">
                                {% if needSteps %}
                                    <strong>3. lépés</strong><br/>
                                    Külső profilok
                                {% else %}
                                    <span class="ion ion-social-linkedin pull-left icon-lg icon-dark-gray"></span>
                                    <div style="margin-top: 7px;">Külső profilok</div>
                                {% endif %}
                            </li>
                            {% endif %}

                            <li data-content="addresses">
                                {% if needSteps %}
                                    {% if userType == 1 %}
                                        <strong>4. lépés</strong><br/>
                                    {% else %}
                                        <strong>3. lépés</strong><br/>
                                    {% endif %}
                                    Cím
                                {% else %}
                                    <span class="ion ion-location pull-left icon-lg icon-dark-gray"></span>
                                    <div style="margin-top: 7px;">Cím</div>
                                {% endif %}

                            </li>

                            <li data-content="credentials">
                                {% if needSteps %}
                                    {% if userType == 1 %}
                                        <strong>5. lépés</strong><br/>
                                    {% else %}
                                        <strong>4. lépés</strong><br/>
                                    {% endif %}
                                    Jelszó
                                {% else %}
                                    <span class="ion ion-locked pull-left icon-lg icon-dark-gray"></span>
                                    <div style="margin-top: 7px;">Jelszó</div>
                                {% endif %}

                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="personal-profile" class="tab-pane fade in active">
                                <div class="panel">
                                    <div class="panel-body">
                                        <span class='error-label has-error general-error-label block mb10 text-center'>{{ error }}</span>

                                        {% block personalProfile %}
                                            {% include "User/Write/baseContact.twig" %}
                                        {% endblock personalProfile %}

                                        <span class="ion ion-image pull-left icon-dark-gray icon-sm"></span>
                                        <div class="form-group">
                                            <label>
                                                Profilkép
                                            </label>
                                            <input class="form-control" id="profile-picture" name="profile_picture" type="file" accept="image/*">
                                            {% if hasPicture %}
                                                <img src="{{ ROOT }}uploads/picture/{{ user.getProfilePicturePath() }}" class="img-rounded mt10" alt="Szabaduszok.com - A magyar freelancer platform {{ user.getName() }}">
                                            {% endif %}
                                        </div>

                                        <button class="btn btn-lg btn-block btn-primary next" type="button">
                                            Tovább <span class="fa fa-chevron-right icon-spacer icon-white fs15"></span>
                                        </button>
                                    </div>
                                    <!-- end panel-body -->
                                </div>
                                <!-- end panel szemelyes profil -->
                            </div>
                            <div id="professional-profile" class="tab-pane fade">
                                <div class="panel">
                                    <div class="panel-body">
                                        {% block professionalProfile %}
                                            <span class="ion ion-briefcase pull-left icon-sm icon-dark-gray"></span>
                                            <div class="form-group">                                
                                                <label>
                                                    Iparágak*
                                                </label>
                                                <p class="text-justify">
                                                    Általános iparág, pl.: informatika. Többet is választhatsz.
                                                </p>
                                                <select name="industries[]" id="industries"  multiple>
                                                    {% for industry in industries %}
                                                        <option value="{{ industry.industry_id }}" {% if user.has('industries', industry) or industry.industry_id in post_session.industries %}selected{% endif %}>{{ industry.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>                    

                                            <span class="ion ion-university pull-left icon-sm icon-dark-gray"></span>
                                            <div class="form-group">
                                                <label>
                                                    Szakterületek
                                                </label>

                                                {% block professionHint %}
                                                <p class="text-justify">
                                                    Iparágon belüli, szűkebb szakterület, pl.: webfejlesztés.
                                                </p>
                                                {% endblock professionHint %}

                                                <select id="professions" name="professions[]" multiple="multiple">
                                                    {% for profession in user.getRelation('professions') %}
                                                        <option value="{{ profession.profession_id }}" selected>{{ profession.name }}</option>                                        
                                                    {% else %}
                                                        {% for profession in post_session.professions %}
                                                        <option value="{{ profession }}" selected>
                                                            {% if profession matches '/^\\d+$/' %}                                          
                                                                {{ AB.getSelect().from(professionModel).where('profession_id', '=', profession).execute().current().name }}
                                                            {% else %}
                                                                {{ profession }}
                                                            {% endif %}
                                                        </option>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </select>
                                            </div>                                    

                                            {% block professionalProfileMisc %}
                                            {% endblock professionalProfileMisc %}

                                            <span class="ion ion-clipboard pull-left icon-sm icon-dark-gray"></span>
                                            <div class="form-group">
                                                <label>
                                                    Rövid szakmai bemutatkozás
                                                </label>
                                                <textarea class="form-control" id="short-description" name="short_description" rows="4" cols="50" placeholder="Korábbi tapasztalataid, miben mennyire vagy jártas, stb">{% if user.getShortDescription() %}{{ user.getShortDescription() }}{% else %}{{ post_session.short_description }}{% endif %}</textarea>
                                            </div>

                                            <button class="btn btn-lg btn-block btn-primary next" type="button">
                                                Tovább <span class="fa fa-chevron-right icon-spacer icon-white fs15"></span>
                                            </button>
                                            <button class="btn btn-lg btn-link prev pull-right" type="button">Vissza</button>
                                        {% endblock professionalProfile %}
                                    </div>
                                    <!-- end panel-body szakmai profil -->
                                </div>
                                <!-- end panel szakmai profil -->
                            </div>
                            {% if userType == 1 %}
                            <div id="external-profiles" class="tab-pane fade">
                                {% block externalProfiles %}
                                {% endblock externalProfiles %}
                            </div>
                            {% endif %}
                            <div id="addresses" class="tab-pane fade">
                                {% block address %}
                                {% endblock address %}
                            </div>
                            <div id="credentials" class="tab-pane fade">
                                <div class="panel">
                                    <div class="panel-body">
                                        {% block credentials %}
                                            <span class="ion ion-locked pull-left icon-sm icon-dark-gray"></span>
                                            <div class="form-group">
                                                <label class="password-label">
                                                    Jelszó*
                                                </label>
                                                <input id="password" name="password" type="password" class="form-control"

                                                        {% if hasPasswordRules %}
                                                        {% else %}
                                                            
                                                        {% endif %}
                                                >

                                            </div>
                                            <p class="text-justify">
                                                {{ passwordText }}
                                            </p>

                                            <span class="ion ion-locked pull-left icon-sm icon-dark-gray"></span>
                                            <div class="form-group">
                                                <label class="password-label">
                                                    Jelszó mégegyszer*
                                                </label>
                                                <input class="form-control" type="password" id="password-confirm" name="password_confirm">
                                            </div>

                                            {% if hasPrivacyCheckbox %}
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input disabled type="checkbox" id="accept-conditions" checked>Elfogadom az <a href="{{ ROOT }}szabaduszok-adatvedelem" target="_blank" title="Szabaduszok.com - Adatvédelem">Adatvédelmi nyilatkozatot</a> és a <a href="{{ ROOT }}szabaduszok-felhasznalasi-feltetelek" target="_blank" title="Szabaduszok.com - Felhasználási feltételek">Felhasználási feltételeket</a>
                                                    </label>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endblock credentials %}
                                        {% block buttons %}
                                            <button class="bloc-button btn btn-lg btn-block btn-lime-green" type="submit">
                                                <span class="ion ion-checkmark icon-spacer icon-white"></span>Rögzít
                                            </button>
                                            <button class="btn btn-lg btn-link prev pull-right" type="button">Vissza</button>
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end col-sm-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end bloc-8 -->
{% endblock content %}
